.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-center {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: Dubai;
  font-weight: bolder;
  margin-top : 50px;
  margin-bottom: 20px;
}

button
{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

